@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  color: black;
}

:root {
  /* primary */
  /* grey */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --padding-x: 1rem;
  --primary-500: #2cb1bc;
  --letter-spacing: 1px;
}

@media (width > 724px) {
  :root {
    --container-padding-x: 5.12rem;
  }
}
@media (width > 1290px) {
  :root {
    --container-padding-x: 16rem;
  }
}


.container{
  width: 100%;
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
  margin-left: auto;
  margin-right: auto;
  max-width: unset;
}